body{
    background-color: #d4b5b5;
    font-family: "Microsoft Sans Serif";
    color: white;
  }
  .container{ /* you need div element to use this */
    background-color: #7aa0c3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 80px;
    color: white;
  }
  .btn{
    background-color: #614caf; /* You can change what ever you want */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover{ /* When your mouse on the btn it will change the color */
    background-color: #5ccc60;
  }
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(10, 0, 0);
    float: left;
    width: 80%;
    background: #f1f1f1;
  }